.container{
    position: absolute;
    right: 1em;
    margin-top: 0.8em;
    background-color: rgb(26, 255, 0);
    padding: 0.3em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-radius: 0.5em;
}

.container button{
    border-radius: 0.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: rgb(214, 29, 106);
    &:hover{
        background-color: #0077ff;
        transition: .4s all;
        }
}

.container input{
    color: rgb(15, 14, 14);
    border-radius: 0.5em;
    padding: 0.1em;
    font-weight: bold;
    margin-right: 0.8em;
    margin-left: 0.5em;
    &:hover{
        background-color: rgb(188, 195, 243);
    }
}